@page
@model IndexModel
@{
    ViewData["Title"] = "MicroD";
}

<div class="text-center">
    
    <img src="" alt="">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p class="textp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat sit quidem provident facere inventore non incidunt doloremque aliquam aperiam, reprehenderit eius sed laudantium distinctio possimus ipsum aspernatur nemo adipisci. A?
    </p>
    <div class="home">
        <div class="home_left">
            <section class="home_title">

            </section>
            <section class="home_p">

            </section>

        </div>
        <div class="home_right">
            <img src="/images/Untitled-1.png" alt="text">

        </div>

    </div>
    
</div>
